<!doctype html>
<html lang="pt-br">
  <head>
    <title>Security Master</title>
    <meta charset="utf-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/securitymasterhome.css"/>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico"/>

  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="p-4 pt-5">
          <a
            href="#"
            class="img logo rounded-circle mb-5"
            style="background-image: url(/static/img/logo.png);"/>
          <ul class="list-unstyled components mb-5">
            <li>
              <a href="/securitymaster/home">Home</a>

            </li>
            <li>
              <a href="/securitymaster/monitoring">Monitoramento</a>

            </li>
            <li class="active">
              <a href="/securitymaster/register/region">Nova região</a>

            </li>
            <!-- <li>
              <a href="/securitymaster/suspectactivities">Atividades suspeitas</a>

            </li> -->
            <li>
              <a href="/securitymaster/profile">Perfil</a>

            </li>

          </ul>
          <div class="footer">
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script>
              All rights reserved | Security Master
              <i class="icon-heart" aria-hidden="true"/>
              by
              <a href="https://www.linkedin.com/in/rafael-scariot-aab058192/" target="_blank">
                Rafael Scariot
              </a>

            </p>

          </div>

        </div>

      </nav>
      <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"/>
              <span class="sr-only">Toggle Menu</span>

            </button>
            <button
              class="btn btn-dark d-inline-block d-lg-none ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fa fa-bars"/>
            </button>
            <button type="button" id="logout" class="btn btn-primary ml-2">
              <i class="fa fa-sign-out" aria-hidden="true"/> Logout
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/securitymaster/home">Home</a>

                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/securitymaster/monitoring">Monitoramento</a>

                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/securitymaster/register/region">Nova região</a>

                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/securitymaster/suspectactivities">
                    Atividades suspeitas
                  </a>

                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/securitymaster/profile">Perfil</a>

                </li>

              </ul>

            </div>

          </div>

        </nav>
        <h4>Deseja monitorar uma nova região? Apenas a cadastre!</h4>
        <div id="error" style="display: none;" class="alert alert-danger" role="alert">
          This is a danger alert—check it out!
        </div>
        <div
          style="display: none;"
          id="success"
          class="alert alert-success"
          role="alert">
          This is a success alert—check it out!
        </div>
        <div class="card mt-4">
          <div class="card-body px-lg-5 pt-0">
            <form id="formRegion" class="text-center" style="color: #757575;" action="#!">
              <div class="form-row mt-2">
                <div class="col">
                  <div class="md-form">
                    <label for="name" style="font-size: 28px">Nome</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      aria-label="Default"
                      aria-describedby="inputGroup-sizing-default"
                      placeholder="varanda, quintal, área de serviço..."/>

                  </div>

                </div>
                <div class="col">
                  <div class="md-form">
                    <label for="description" style="font-size: 28px">Descrição</label>
                    <input
                      type="text"
                      class="form-control"
                      id="description"
                      aria-label="Default"
                      aria-describedby="inputGroup-sizing-default"
                      placeholder="em frente a casa, lateral esquerda do prédio..."/>

                  </div>

                </div>

              </div>
              <label class="mt-4" style="font-size: 28px;">Horários de monitoramento</label>
              <div class="form-row mt-2">
                <div class="col">
                  <div class="md-form">
                    <i class="fa fa-play" aria-hidden="true"/>
                    <input
                      value="00:00"
                      class="ml-2"
                      required
                      type="time"
                      id="startTime"
                      name="appt"/>

                  </div>

                </div>
                <div class="col">
                  <div class="md-form">
                    <i class="fa fa-stop" aria-hidden="true"/>
                    <input value="00:00" type="time" required id="endTime" name="appt" class="ml-2"/>

                  </div>

                </div>

              </div>
              <button
                class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                id="btnCadastro"
                type="submit">
                Cadastrar
              </button>

            </form>

          </div>

        </div>

      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"/>
    <script src="/static/js/isAuthenticated.js"/>
    <script src="/static/js/popper.js"/>
    <script src="/static/js/bootstrap.min.js"/>
    <script src="/static/js/main.js"/>
    <script src="/static/js/newRegion.js"/>

  </body>

</html>

