<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Security Master</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico"/>
        <script
            src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
            crossorigin="anonymous"/>
        <link
            href="https://fonts.googleapis.com/css?family=Varela+Round"
            rel="stylesheet"/>
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"/>
        <link href="/static/css/home.css" rel="stylesheet"/>

    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    Security Master - Sua propriedade em segurança
                </a>
                <button
                    class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu <i class="fas fa-bars"/>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">
                                Entre em contato conosco
                            </a>

                        </li>

                    </ul>

                </div>

            </div>

        </nav>
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Security Master</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        Mantenha-se em segurança com o Security Master, inovador
                        sistema de vigilância automatizado por visão computacional
                    </h2>
                    <a
                        class="btn btn-primary js-scroll-trigger"
                        href="/login"
                        data-toggle="modal"
                        data-target="#modalLRForm">
                        SIGN IN
                    </a>

                </div>

            </div>
            <div
                class="modal fade"
                id="modalLRForm"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog cascading-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-c-tabs">
                            <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab">
                                        <i class="fas fa-user mr-1"/> Entrar
                                    </a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#panel8" role="tab">
                                        <i class="fas fa-user-plus mr-1"/> Registrar-se
                                    </a>

                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                                    <form id="form-login">
                                        <div class="modal-body mb-1">
                                            <div class="md-form form-sm mb-2">
                                                <div
                                                    id="login-alert"
                                                    style="display: none;"
                                                    class="alert alert-danger"
                                                    role="alert">
                                                    This is a danger alert—check it out!
                                                </div>
                                                <i class="fas fa-envelope prefix"/>
                                                <label data-error="wrong" data-success="right" for="email" class="ml-1">
                                                    E-mail
                                                </label>
                                                <input
                                                    type="email"
                                                    id="email"
                                                    name="email"
                                                    class="form-control form-control-sm validate"/>

                                            </div>
                                            <div class="md-form form-sm mb-4">
                                                <i class="fas fa-lock prefix"/>
                                                <label data-error="wrong" data-success="right" for="senha" class="ml-1">
                                                    Senha
                                                </label>
                                                <input
                                                    type="password"
                                                    id="password"
                                                    name="password"
                                                    class="form-control form-control-sm validate"/>

                                            </div>
                                            <div class="text-center mt-2">
                                                <button type="submit" class="btn btn-info">
                                                    Log in <i class="fas fa-sign-in ml-1"/>
                                                </button>

                                            </div>

                                        </div>

                                    </form>
                                    <div class="modal-footer">
                                        <div class="options mt-4 ml-4">
                                            <p>
                                                <a href="#" class="blue-text">Não estou cadastrado</a>

                                            </p>
                                            <p>
                                                <a href="#" class="blue-text">Esqueci minha senha</a>

                                            </p>

                                        </div>
                                        <button
                                            type="button"
                                            class="btn btn-outline-info waves-effect ml-auto"
                                            data-dismiss="modal">
                                            Fechar
                                        </button>

                                    </div>

                                </div>
                                <div class="tab-pane fade" id="panel8" role="tabpanel">
                                    <form id="form-register">
                                        <div class="modal-body">
                                            <div class="md-form form-sm mb-2">
                                                <div
                                                    id="register-alert"
                                                    style="display: none;"
                                                    class="alert alert-danger"
                                                    role="alert">
                                                    This is a danger alert—check it out!
                                                </div>
                                                <div
                                                    style="display: none;"
                                                    id="register-sucess-alert"
                                                    class="alert alert-success"
                                                    role="alert">
                                                    This is a success alert—check it out!
                                                </div>
                                                <i class="fas fa-user prefix"/>
                                                <label data-error="wrong" data-success="right" for="full_name" class="ml-1">
                                                    Nome completo
                                                </label>
                                                <input
                                                    type="text"
                                                    id="full_name"
                                                    name="full_name"
                                                    class="form-control form-control-sm validate"/>

                                            </div>
                                            <div class="md-form form-sm mb-2">
                                                <i class="fas fa-envelope prefix"/>
                                                <label data-error="wrong" data-success="right" for="emailregister" class="ml-1">
                                                    E-mail
                                                </label>
                                                <input
                                                    type="email"
                                                    id="emailregister"
                                                    name="emailregister"
                                                    class="form-control form-control-sm validate"/>

                                            </div>
                                            <div class="md-form form-sm mb-2">
                                                <i class="fas fa-lock prefix"/>
                                                <label
                                                    data-error="wrong"
                                                    data-success="right"
                                                    for="passwordregister"
                                                    class="ml-1">
                                                    Senha
                                                </label>
                                                <input
                                                    type="password"
                                                    id="passwordregister"
                                                    name="passwordregister"
                                                    class="form-control form-control-sm validate"/>

                                            </div>
                                            <div class="md-form form-sm mb-4">
                                                <i class="fas fa-lock prefix"/>
                                                <label data-error="wrong" data-success="right" for="repeatpassword" class="ml-1">
                                                    Repita
                                                    sua senha
                                                </label>
                                                <input
                                                    type="password"
                                                    id="repeatpassword"
                                                    name="repeatpassword"
                                                    class="form-control form-control-sm validate"/>

                                            </div>
                                            <div class="text-center form-sm mt-2">
                                                <button class="btn btn-info">
                                                    Sign up <i class="fas fa-sign-in ml-1"/>
                                                </button>

                                            </div>

                                        </div>

                                    </form>
                                    <div class="modal-footer">
                                        <div class="options text-right">
                                            <p class="pt-1">
                                                Já possui uma conta?
                                                <a href="#" class="blue-text">
                                                    Log
                                                    In
                                                </a>

                                            </p>

                                        </div>
                                        <button
                                            type="button"
                                            class="btn btn-outline-info waves-effect ml-auto"
                                            data-dismiss="modal">
                                            Fechar
                                        </button>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </header>
        <!--Sobre-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row textos">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Eficiência e segurança projetadas para você</h2>
                        <p class="text-white-50">
                            Security Master é uma inovadora solução de segurança projetada com tecnologias estado-da-arte capazes de proporcionar segurança a sua propriedade. Estabeleça horários de monitoramento e seja notificado em tempo real em casos de atividades suspeitas!
                        </p>

                    </div>

                </div>

            </div>

        </section>
        <!--Contato-->
        <section class="contact-section bg-black" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"/>
                                <h4 class="text-uppercase m-0">Endereço</h4>
                                <hr class="my-4"/>
                                <div class="small text-black-50">
                                    1063 Arcibaldo Somensi, Getúlio Vargas - RS
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"/>
                                <h4 class="text-uppercase m-0">E-mail</h4>
                                <hr class="my-4"/>
                                <div class="small text-black-50">
                                    <a href="#!">contato@securitymaster.com</a>

                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"/>
                                <h4 class="text-uppercase m-0">WhatsApp</h4>
                                <hr class="my-4"/>
                                <div class="small text-black-50">+55 (54) 99245-7955</div>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!">
                        <i class="fab fa-twitter"/>
                    </a>
                    <a class="mx-2" href="#!">
                        <i class="fab fa-facebook-f"/>
                    </a>
                    <a class="mx-2" href="#!">
                        <i class="fab fa-github"/>
                    </a>

                </div>

            </div>

        </section>
        <footer class="footer bg-black small text-center text-white-50">
            <div class="container">Copyright © Security Master 2021</div>

        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"/>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"/>
        <script src="/static/js/home.js"/>

    </body>

</html>

