<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Security Master</title>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    >
    <link rel="stylesheet" href="/static/css/base/main.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  </head>
  <body>
    <div.wrapper.d-flex.align-items-stretch>
      <nav#sidebar>
        <div.p-4.pt-5>
          <a.img.logo.rounded-circle.mb-5
            href="/securitymaster/home"
            style="background-image: url(/static/img/logo.png)"
          />
          <ul.list-unstyled.components.mb-5>
            <li.active><a href="/securitymaster/home">Home</a></li>
            <li><a href="/securitymaster/region">Regiões</a></li>

            <li><a href="/securitymaster/profile">Perfil</a></li>

            <li><a href="/securitymaster/alerts">Alertas</a></li>
          </ul>
          <div.footer>
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script>
               All rights reserved | Security Master
              <i.icon-heart aria-hidden="true"/>
               by
              <a
                href="https://www.linkedin.com/in/rafael-scariot-aab058192/"
                target="_blank"
              >
                Rafael Scariot
              </a>
            </p>
          </div>
        </div>
      </nav>
      <div.p-4.p-md-5#content>
        <nav.navbar.navbar-expand-lg.navbar-light.bg-light>
          <div.container-fluid>
            <button.btn.btn-primary#sidebarCollapse type="button">
              <i.fa.fa-bars/>
              <span.sr-only>Toggle Menu</span>
            </button>
            <button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i.fa.fa-bars/>
            </button>
            <button.btn.btn-primary.ml-2#logout type="button">
              <i.fa.fa-sign-out aria-hidden="true"/>
               Logout
            </button>
            <div.collapse.navbar-collapse#navbarSupportedContent>
              <ul.nav.navbar-nav.ml-auto>
                <li.nav-item.active>
                  <a.nav-link href="/securitymaster/home">Home</a>
                </li>

                <li.nav-item>
                  <a.nav-link href="/securitymaster/region">Regiões</a>
                </li>

                <li.nav-item>
                  <a.nav-link href="/securitymaster/profile">Perfil</a>
                </li>

                <li.nav-item>
                  <a.nav-link href="/securitymaster/alerts">Alertas</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- PAGE CONTENT -->

        <h3>
          <script>
            const hour = new Date().getHours();
            let status = "";
            if (hour < 12 && hour >= 6) {
              status = "Bom dia";
            } else if (hour >= 12 && hour < 18) {
              status = "Boa tarde";
            } else {
              status = "Boa noite";
            }

            const userName = localStorage.getItem("userName").split(" ")[0];

            document.write(status + ", " + userName + "!");
          </script>
        </h3>

        <p>Confira o andamento da segurança da sua propriedade.</p>

        <div style="display: flex; flex-direction: row">
          <div style="width: 49%;"><canvas#last24hrsActivities/></div>
          <div style="width: 49%;"><canvas#last7daysActivitie/></div>
        </div>

        <div style="display: flex; flex-direction: row">
          <div.mt-4 style="width: 49%;"><canvas#activitieTypeChart/></div>
          <div.mt-4 style="width: 49%;"><canvas#activitieRegionHour/></div>
        </div>
      </div>
    </div>
    <script src="/static/js/util/jquery.min.js"/>
    <script src="/static/js/isAuthenticated.js"/>
    <script src="/static/js/util/bootstrap.min.js"/>
    <script src="/static/js/main.js"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"/>
    <script src="/static/js/base/home/activitieTypeChart.js"/>
    <script src="/static/js/base/home/last24hrsActivities.js"/>
    <script src="/static/js/base/home/last7daysActivitie.js"/>
    <script src="/static/js/base/home/activitieRegionHour.js"/>
  </body>
</html>
