<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Security Master</title>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    >
    <link rel="stylesheet" href="/static/css/base/main.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    >
  </head>
  <body>
    <div.wrapper.d-flex.align-items-stretch>
      <nav#sidebar>
        <div.p-4.pt-5>
          <a.img.logo.rounded-circle.mb-5
            href="/securitymaster/home"
            style="background-image: url(/static/img/logo.png)"
          />
          <ul.list-unstyled.components.mb-5>
            <li><a href="/securitymaster/home">Home</a></li>
            <li><a href="/securitymaster/region">Regiões</a></li>

            <li.active><a href="/securitymaster/profile">Perfil</a></li>

              <li><a href="/securitymaster/alerts">Alertas</a></li>
          </ul>
          <div.footer>
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script>
               All rights reserved | Security Master
              <i.icon-heart aria-hidden="true"/>
               by
              <a
                href="https://www.linkedin.com/in/rafael-scariot-aab058192/"
                target="_blank"
              >
                Rafael Scariot
              </a>
            </p>
          </div>
        </div>
      </nav>
      <!-- Page Content  -->

      <div.p-4.p-md-5#content>
        <nav.navbar.navbar-expand-lg.navbar-light.bg-light>
          <div.container-fluid>
            <button.btn.btn-primary#sidebarCollapse type="button">
              <i.fa.fa-bars/>
              <span.sr-only>Toggle Menu</span>
            </button>
            <button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i.fa.fa-bars/>
            </button>
            <button.btn.btn-primary.ml-2#logout type="button">
              <i.fa.fa-sign-out aria-hidden="true"/>
               Logout
            </button>
            <div.collapse.navbar-collapse#navbarSupportedContent>
              <ul.nav.navbar-nav.ml-auto>
                <li.nav-item>
                  <a.nav-link href="/securitymaster/home">Home</a>
                </li>

                <li.nav-item>
                  <a.nav-link href="/securitymaster/region">Regiões</a>
                </li>

                <li.nav-item.active>
                  <a.nav-link href="/securitymaster/profile">Perfil</a>
                </li>


                <li.nav-item>
                  <a.nav-link href="/securitymaster/alerts">Alertas</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div.input-group.mb-3>
          <div.input-group-prepend>
            <span.input-group-text#inputGroup-sizing-default>E-mail</span>
          </div>
          <input.form-control#inputEmail
            type="text"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            disabled
            value=""
          >
        </div>
        <div.input-group.mb-3>
          <div.input-group-prepend>
            <span.input-group-text#inputGroup-sizing-default>Nome</span>
          </div>
          <input.form-control#inputName
            type="text"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            disabled
            value=""
          >
        </div>
        <div.input-group.mb-3>
          <div.input-group-prepend>
            <span.input-group-text#inputGroup-sizing-default>Senha</span>
          </div>
          <input.form-control#inputPassword
            type="password"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            disabled
            value=""
          >
        </div>
        <!-- Button trigger modal -->
        <button.btn.btn-primary
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Alterar informações
        </button>
        <button.ml-2.btn.btn-primary
          type="button"
          data-toggle="modal"
          data-target="#chatID"
        >
          Cadastrar dispositivo
        </button>
        <hr>
        <h4.mt-2 style="text-align: center;">Meus dispositivos</h4>

        <table.table.table-striped.table-dark.mt-2>
          <thead style="text-align: center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Dispositivo</th>
              <th scope="col">Chat ID</th>
              <th scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody#devices style="text-align: center"/>
        </table>
        <!-- Modal -->
        <div.modal.fade#exampleModal
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div.modal-dialog role="document">
            <div.modal-content>
              <div.modal-header>
                <h5.modal-title#exampleModalLabel>Alterar informações</h5>
                <button.close
                  type="button"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div.modal-body>
                <div.alert.alert-danger#modalAlertError
                  style="display: none"
                  role="alert"
                >
                  This is a danger alert—check it out!
                </div>
                <div.alert.alert-success#modalAlertSuccess
                  style="display: none"
                  role="alert"
                >
                  This is a success alert—check it out!
                </div>
                <div.input-group.mb-3>
                  <div.input-group-prepend>
                    <span.input-group-text#inputGroup-sizing-default>
                      Novo E-mail
                    </span>
                  </div>
                  <input.form-control#modalEmail
                    type="text"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    value=""
                  >
                </div>
                <div.input-group.mb-3>
                  <div.input-group-prepend>
                    <span.input-group-text#inputGroup-sizing-default>
                      Novo nome
                    </span>
                  </div>
                  <input.form-control#modalName
                    type="text"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    value=""
                  >
                </div>
                <div.input-group>
                  <div.input-group-prepend>
                    <span.input-group-text#inputGroup-sizing-default>
                      Nova senha
                    </span>
                  </div>
                  <input.form-control#modalPassword
                    type="password"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    value=""
                  >
                </div>
              </div>
              <div.modal-footer>
                <button.closeModalBtn.btn.btn-secondary
                  type="button"
                  data-dismiss="modal"
                >
                  Fechar
                </button>
                <button.btn.btn-primary#btnmodal type="submit">Salvar</button>
              </div>
            </div>
          </div>
        </div>
        <div.modal.fade#chatID
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div.modal-dialog role="document">
            <div.modal-content>
              <div.modal-header>
                <h6.modal-title style="text-align: center">
                  Cadastre o Chat ID dos dispositivos que devem ser notificados!
                </h6>
                <button.close
                  type="button"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div.modal-body>
                <p style="text-align: center">
                  DICA: Pesquise por "Chat ID Echo" no Telegram e envie /start para descobrir o Chat ID do dispositivo.
                </p>
                <div.alert.alert-danger#chatIdError
                  style="display: none"
                  role="alert"
                >
                  This is a danger alert—check it out!
                </div>
                <div.alert.alert-success#chatIdSuccess
                  style="display: none"
                  role="alert"
                >
                  This is a success alert—check it out!
                </div>
                <div.input-group>
                  <div.input-group-prepend>
                    <span.input-group-text#inputGroup-sizing-default>
                      Chat ID
                    </span>
                  </div>
                  <input.form-control#modalChatID
                    type="number"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    value=""
                  >
                </div>
                <div.input-group.mt-2>
                  <div.input-group-prepend>
                    <span.input-group-text#inputGroup-sizing-default>
                      Identificação
                    </span>
                  </div>
                  <input.form-control#modalSurname
                    type="text"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    value=""
                  >
                </div>
              </div>
              <div.modal-footer>
                <button.btn.btn-secondary.closeModalBtn
                  type="button"
                  data-dismiss="modal"
                >
                  Fechar
                </button>
                <button.btn.btn-primary#btnChatID type="submit">Salvar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/util/jquery.min.js"/>
    <script src="/static/js/isAuthenticated.js"/>
    <script src="/static/js/util/bootstrap.min.js"/>
    <script src="/static/js/main.js"/>
    <script src="/static/js/base/profile.js"/>
  </body>
</html>
