<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Security Master</title>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    >
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    >
    <link rel="stylesheet" href="/static/css/base/main.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  </head>
  <body>
    <div.wrapper.d-flex.align-items-stretch>
      <nav#sidebar>
        <div.p-4.pt-5>
          <a.img.logo.rounded-circle.mb-5
            href="/securitymaster/home"
            style="background-image: url(/static/img/logo.png)"
          />
          <ul.list-unstyled.components.mb-5>
            <li><a href="/securitymaster/home">Home</a></li>
            <li.active><a href="/securitymaster/region">Regiões</a></li>

            <li><a href="/securitymaster/profile">Perfil</a></li>

            <li><a href="/securitymaster/alerts">Alertas</a></li>
          </ul>
          <div.footer>
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script>
               All rights reserved | Security Master
              <i.icon-heart aria-hidden="true"/>
               by
              <a
                href="https://www.linkedin.com/in/rafael-scariot-aab058192/"
                target="_blank"
              >
                Rafael Scariot
              </a>
            </p>
          </div>
        </div>
      </nav>
      <div.p-4.p-md-5#content>
        <nav.navbar.navbar-expand-lg.navbar-light.bg-light>
          <div.container-fluid>
            <button.btn.btn-primary#sidebarCollapse type="button">
              <i.fa.fa-bars/>
              <span.sr-only>Toggle Menu</span>
            </button>
            <button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i.fa.fa-bars/>
            </button>
            <button.btn.btn-primary.ml-2#logout type="button">
              <i.fa.fa-sign-out aria-hidden="true"/>
               Logout
            </button>
            <div.collapse.navbar-collapse#navbarSupportedContent>
              <ul.nav.navbar-nav.ml-auto>
                <li.nav-item>
                  <a.nav-link href="/securitymaster/home">Home</a>
                </li>

                <li.nav-item.active>
                  <a.nav-link href="/securitymaster/region">Regiões</a>
                </li>

                <li.nav-item>
                  <a.nav-link href="/securitymaster/profile">Perfil</a>
                </li>

                <li.nav-item>
                  <a.nav-link href="/securitymaster/alerts">Alertas</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- PAGE CONTENT -->
        <div.alert.alert-danger#alert-error style="display: none" role="alert">
          This is a danger alert—check it out!
        </div>
        <div.alert.alert-success#alert-success
          style="display: none"
          role="alert"
        >
          This is a danger alert—check it out!
        </div>
        <form>
          <div.form-row>
            <div.form-group.col-md-6>
              <label for="inputRegion">Região</label>
              <input.form-control#inputName type="text" placeholder="Região">
            </div>
            <div.form-group.col-md-6>
              <label for="inputDescription">Descrição</label>
              <input.form-control#inputDescription
                type="text"
                placeholder="Descrição"
              >
            </div>
          </div>
          <div.form-group>
            <label for="inputIpCam">Endereço da câmera IP</label>
            <input.form-control#inputIpCam
              type="text"
              placeholder="Endereço da câmera IP"
            >
          </div>
          <p style="font-size: 1.5em; text-align: center">
            Horário de monitoramento
          </p>
          <p style="text-align: center">
            Deixe estes dois campos em branco caso deseje que a região seja monitorada 24 horas
          </p>
          <div.form-row>
            <div.form-group.col-md-6>
              <label for="startTime">Início</label>
              <input.form-control#inputStartTime
                type="time"
                name="startTime"
                placeholder="Hora inicial"
              >
            </div>
            <div.form-group.col-md-6>
              <label for="endTime">Término</label>
              <input.form-control#inputEndTime
                type="time"
                name="endTime"
                placeholder="Hora de término"
              >
            </div>
          </div>
          <button.btn.btn-primary#btnRegister type="button">Cadastrar</button>
        </form>

        <hr>
        <h4.mt-2 style="text-align: center">Minhas regiões de monitoramento</h4>
        <table.table.table-striped.table-dark.mt-2>
          <thead style="text-align: center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Região</th>
              <th scope="col">Descrição</th>
              <th scope="col">Horário</th>
              <th scope="col">Câmera</th>
              <th scope="col">Excluir região</th>
            </tr>
          </thead>
          <tbody#regions style="text-align: center"/>
        </table>
      </div>
    </div>

    <script src="/static/js/util/jquery.min.js"/>
    <script src="/static/js/isAuthenticated.js"/>
    <script src="/static/js/util/bootstrap.min.js"/>
    <script src="/static/js/main.js"/>
    <script src="/static/js/base/region.js"/>
  </body>
</html>
